@import "~bootstrap/scss/bootstrap";

body {
    background-color: goldenrod;
}

h1 {

    text-align: center;
}

h1 {

    font-family: 'Notable', sans-serif;
}

h3 {

    font-family: 'Courgette', cursive;
}